*{
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red
}

h2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-family: 'Courier New', Courier, monospace;
}
